<!DOCTYPE html>
<html>
<head>
    <title>Broken Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<div class="container">

<div class="sidebar">

    <div class="logo-header">
         <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <h2 class="title">SCIENCE LABORATORY IN CITY COLLEGE OF ANGELES</h2>
    </div>

    <button class="menu-btn" onclick="location.href='dashboard'">📊 Dashboard</button>
    <button class="menu-btn" onclick="location.href='borrow'">📥 Borrowing</button>
    <button class="menu-btn" onclick="location.href='returning'">🔄 Returning</button>
    <button class="menu-btn active" onclick="location.href='broken'">📋 List Items</button>
    <button class="menu-btn" onclick="location.href='analytics'">📈 Data Analytics</button>
    <button class="menu-btn" onclick="location.href='documentation'">📄 Documentation</button>
    

    <div class="user-box">
        <p class="name">Ashley Basilio</p>
        <small>basilio@cca.edu.ph</small>
    </div>

    <button class="logout-btn" onclick="logout()">Logout</button>
</div>

<div class="main">
       <!-- ============================= -->
    <!-- TABLE 1 - RESERVATION FORM -->
    <!-- ============================= -->

    <div class="table-container">

        <h2 class="table-title">Reservation Form</h2>

        <div class="table-wrapper">
            <table class="records-table">

                <thead>
                    <tr>
                        <th>Nature of Activity</th>
                        <th>Date Filed</th>
                        <th>Objective</th>
                        <th>Date of Activity</th>
                        <th>Time</th>
                        <th>Year &amp; Section</th>
                        <th>Number of Students</th>
                        <th>Material / Equipment Needed</th>
                        <th>Teacher In Charge</th>
                    </tr>
                </thead>

            </table>
        </div>

    </div>


    <!-- ============================= -->
    <!-- TABLE 2 - BREAKAGE FORM -->
    <!-- ============================= -->

    <div class="table-container">

        <h2 class="table-title">Breakage Form</h2>

        <div class="table-wrapper">
            <table class="records-table">

                <thead>
                    <tr>
                        <th>Group Members</th>
                        <th>Student Number</th>
                        <th>Subject</th>
                        <th>Instructor Name</th>
                        <th>Course &amp; Section</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Item Description</th>
                        <th>Remarks</th>
                        <th>Unit Cost</th>
                        <th>Total Amount</th>
                        <th>Prepared By</th>
                    </tr>
                </thead>

            </table>
        </div>

    </div>


    <!-- ============================= -->
    <!-- TABLE 3 - REQUISITION FORM -->
    <!-- ============================= -->

    <div class="table-container">

        <h2 class="table-title">Requisition Form</h2>

        <div class="table-wrapper">
            <table class="records-table">

                <thead>
                    <tr>
                        <th>Experiment No.</th>
                        <th>Course / Section</th>
                        <th>Title</th>
                        <th>Group Leader &amp; Student Number</th>
                        <th>Date Borrowed</th>
                        <th>Members / Student No.</th>
                        <th>Quantity</th>
                        <th>Apparatus</th>
                        <th>Description</th>
                        <th>Instructor Name</th>
                        <th>Received By</th>
                        <th>Custodian</th>
                    </tr>
                </thead>


            </table>
        </div>

    </div>

</div>

</body>
</html>